@import url("https://fonts.googleapis.com/css2?family=Rubik+Scribble:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rubik+Scribble&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900");

$primary-color: green;
$secondary-color: white;
$background-color: #333;
$elevation-color: #444;

$primary-font: "Rubik Scribble", sans-serif;
$secondary-font: "Inter", sans-serif;
